@{
    ViewData["Title"] = "Sobre Nós";
}


    <body id="homeSobre">
                 
             
                
         
           </main>
            <div class="gradient">
            </div>
         
    </body>
