@{
    ViewData["Title"] = "Home Page";
}


    <body id="home">
                 
                <h1 id="texto">Seu pet muito mais feliz!</h1>
                <h1 id="texto2">Venha nos conhecer!</h1>
                
            <main class=main>
                
         
           </main>
            <div class="gradient">
            </div>
         
    </body>
