@{
    ViewData["Title"] = "Home Page";
}


    <body id="index">
        
                
            <main class=main>
                <h2 id="texto2">Venha nos conhecer!</h2>
                <h1 id="texto">Seu pet mais feliz!</h1>
            @*<div class="main-child">         
            
            <span>Assista onde e quando quiser.</span>
            <form class="form-cta">
                <input type="text" placeholder="Email" />
                <button>Vamos lá</button>
            </form>
            <p> Pronto para assistir? Informe seu email para criar ou reiniciar sua assinatura.</p>
            </div> *@
             
         </main>
            <div class="gradient">
            </div>
         
    </body>
