@{
    ViewData["Title"] = "Home Page";
}


    <body class="index">
        
            <main class=main>
            @*<div class="main-child">         
            <h1> Filmes, séries e muito mais.</h1>
            <span>Assista onde e quando quiser.</span>
            <form class="form-cta">
                <input type="text" placeholder="Email" />
                <button>Vamos lá</button>
            </form>
            <p> Pronto para assistir? Informe seu email para criar ou reiniciar sua assinatura.</p>
            </div> *@
             
         </main>
            <div class="gradient">
            </div>
         
    </body>
